@media (max-width: 1399px){
    .header__logo{
        margin-left: 0;
    }
}
@media (max-width: 1199px){
    .header__logo{
        margin-left: 0;
    }
}
@media (max-width: 991px){
    .title1{
        font-size: 36px;
        line-height: 42px;
    }
    .title2{
        font-size: 24px;
        line-height: 28px;
    }
    .title3{
        font-size: 24px;
        line-height: 33px;
    }
    .title4{
        font-size: 18px;
    line-height: 25px;
    }
    .text{
        line-height: 16px;
        font-size: 14px;
    }
    .price-item + .price-item{
        margin-left: 20px;
    }
    .customer + .customer{
        margin-left: 10px;
    }
    .form-message {
        width: 100%;
        margin-left: 15px;
        padding: 0px 0 185px 0;
    }
}
@media (max-width: 767px){

    .header__menu{
        display: none;
    }
    .menu{
        display: flex;
    }
    .fa-microsoft{
        display: flex;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        font-size: 50px;
    }
    .social{
        padding: 36px 17px 44px 17px ;
    }
    .social__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon{
        margin-left: 22px;
    }
    .icon-first{
        margin-left: 0;
    }
    .tab__menu{
        width: 100%;
    }
    .tab__info{
        padding: 0 23px 30px 23px;
    }
    .tab__title{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .tab__subtitle{
        display: flex;
        text-align: center;
    }
    .tab__subtitle-sub{
        display: flex;
        text-align: center;
    }
    .tab__button{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tab__img{
        display: none;
    }
    .about-info{
        display: flex;
        flex-direction: column;
    }
    .about-item{
        width: auto;
        margin-bottom: 44px;
    }
    .price-item + .price-item{
        margin-left: 10px;
    }
    .customer{
        width: 50%;
    }
    .customer-hidden{
        display: none;
    }
}
@media (max-width: 575px){
    .main-banner{
        padding: 84px 16px 56px 16px;
    }
    .main-banner__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-banner__info{
        width: auto;
    }
    .main-banner__logo{
        display: none;
    }
    .main-banner__separator{
        margin: auto;    
        margin-bottom: 42px;
    }
    .main-banner__form{
        width: 100%;
        height: max-content; 
        margin-top: 56px;
        margin-left: 0;
    }

    .price__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price-item{
        width: 80%;
    }
    .price-item:hover{
        transform: scale(110%);
    }
    .price-item + .price-item{
        margin-left: 0;
        margin-top: 35px;
    }
    .customer{
        width: 100%;
    }
    .customer-hidden2{
        display: none;
    }
    .contact__form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form {
        width: 100%;
    }
    .form-area {
        width: 100%;
    }
    .form-message{
        margin-left: 0;
        margin-top: 34px;
    }
    .icon-footer{
        margin-left: 22px;
    }
    .icon-left{
        margin-left: 0;
    }
}