.banner{
    height: 500px;
    width: auto;
    background-color: violet;
}
.container{
    width: 1200px;
}
.list{
    width: auto;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.item{
    height: 100px;
    width: 100px;
    font-size: 100px;
    background-color: violet;
    display: flex;
    justify-content: center;
}
